<div class="row">
  <div class="col-md-6" style="padding-top:5px;">
    <h3 class="title" style="font-family: 'Lato">Sales Data: View <i class="fas fa-database"></i></h3>
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
    <table id="dataviewer"  class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      
      {% for result in results %}
      <tr>{% for elem in result %}
	<td>{{elem}}</td>
	{% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-md-6" style="padding-top:5px;">
    <h3 class="title" style="font-family: 'Lato">Retrain Models  <i class="fas fa-chart-line"></i></h3>
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
    {% include 'algorithm_options.html' %}
    <!-- <div id='viz'> -->
    <!-- </div> -->
  </div>
</div>
