<div class="row">
  <div class="col-md-12" style="padding-top:5px;">
    <h3 class="title" style="font-family: 'Lato">Satish's Plot <i class="fas fa-chart-area"></i></h3>
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
    <div id='viz1'>
    </div>
  </div>
  <div class="col-md-12" style="padding-top:5px;">
    <h3 class="title" style="font-family: 'Lato">Manaswitha's plot <i class="fas fa-chart-pie"></i></h3>
    
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
    <div id='viz2'>
    </div>   

  </div>
  <div class="col-md-12" style="padding-top:5px;">
    <h3 class="title" style="font-family: 'Lato">Sreejith's Plot <i class="far fa-chart-bar"></i></h3>
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />    
    <svg class="chart" id="water-chart"></svg>
  </div>
</div>



<script type="text/csv" id="data.csv">
name,value
1st revenu,6000000
2nd revenue,2000000
1st spend,-3000000
3rd revenue,4000000
2nd spend,-5500000
4th revenue,800000
</script>
