<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='js/demo.js')}}"></script>
    <script src="{{url_for('static', filename='js/d3.v4.min.js')}}"></script>        

    <script src="{{url_for('static', filename='js/dataTables.bootstrap4.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">    
    
    <title> Sales Analyzer </title>
  </head>    
  <body>

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	
	<a class="navbar-brand" href="#">Sales Analysis</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
	  <ul class="navbar-nav">
	    <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	    </li>
	    <li class="nav-item">
              <a class="nav-link" href="#">Analysis</a>
	    </li>
	    <!-- <li class="nav-item"> -->
              <!--   <a class="nav-link disabled" href="#">Disabled</a> -->
	      <!-- </li> -->
	  </ul>
	</div>
      </nav>
      
      
      <div class="container-fluid">
	<div class="container">
	  <div class="row">
	    <div class="col-sm">
	      Data Section
	    </div>
	    <div class="col-sm">
	      Analyze Section
	    </div>
	  </div>
	</div>
      </div>
      
      Click here: <button onclick="test()" >Click me</button>

      <script type="text/javascript">
	
	function test() {
	    $.ajax({url: "/test", success: function(result){
		console.log(result);
		drawSimpleChart(result);
	    }});
	}
      </script>
  </body>
  
</html>

