.cv-text {
  font-family: "Lato";
  font-size: 1.1em;
  fill: black;
}

.piechart {
  margin: 20px;
}


.piechart text {
  font-family: "Lato";
  fill: #888;
}


.piechart .name-text{
  font-size: 1.2em;
}

.piechart .store-text{
  font-size: 0.7em;
  fill: black;
}

.piechart .value-text{
  font-size: 1.8em;
}

.piechart .title {
  font-size: 1em;
  fill: black;
}
