body {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.bar.total rect {
  fill: 883000;
}

.bar.positive rect {
  fill: #313335;
}
.bar.negative rect {
  fill: #FF8C00;
}

.bar line.connector {
  stroke: grey;
  stroke-dasharray: 3;
}

.bar text {
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 16px;
  padding: 2px;
  font: 15px sans-serif;
  background: lightgrey;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.bubble {
  font-weight: bold;
}

.ellipse {
  fill:none;
  stroke:black;
  stroke-width:2;
}
